.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(74, 196, 44, 0.774);
  }     
li {
  float: left;
  }       
  li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  }     
li a:hover:not(.active) {
  background-color: rgba(188, 231, 178, 0.74);
  }       
.active {
  background-color: #04AA6D;
  }
  .active {
    background-color: #04AA6D;
    }
    .column {
      float: left;
      width: 33.33%;
      padding: 5px;
    }
    
    .row::after {
      content: "";
      clear: both;
      display: table;
    }
  
 {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 85px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

  div.a {
    text-indent: 5%;
    }
  div.b{
    text-indent: 5%;
    }
  div.c{
    text-indent: 5%;
    }
  div.d{
    text-indent: 5%;
    }
  div.e{
    text-indent: 5%;
    }
  div.f{
    text-indent: 5%;
    }
  

  footer {
    font-size: 14px;
    }